@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Inconsolata:wght@200..900&family=Jersey+25&family=Kode+Mono:wght@400..700&family=Miltonian&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Questrial&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sevillana&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
  font-family: "Urbane Rounded";
  src: url("../../Fonts/UrbaneRounded-Medium.woff2") format("woff2");
}
#Browse-Courses {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .background-text-blue {
    position: relative;
    height: 350px;
    @media (max-width: 768px) {
      height: 180px;
    }
    @media (max-width: 576px) {
      height: 120px;
    }
  }
  .background-text {
    position: absolute;
    top: 60%;
    left: 15%;
    transform: translateY(-50%);
    font-size: 42px;
    font-weight: 300;
    line-height: 51px;
    font-family: "Urbane Rounded";
    color: #000022;
    @media (max-width: 768px) {
      font-size: 27px;
      line-height: 45px;
      top: 60%;
      left: 13%;
      text-align: center;
    }
    @media (max-width: 576px) {
      font-size: 20px;
      line-height: 25px;
      text-align: center;
      top: 60%;
      left: 5%;
    }
  }
  // }
  .main-card-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
  }
}
